# ========================

# BUILD / GRADLE

# ========================

.gradle/
build/

# giữ lại gradle wrapper (quan trọng)

!gradle/wrapper/gradle-wrapper.jar

# ========================

# JAVA

# ========================

*.class
*.log

# ========================

# INTELLIJ IDEA

# ========================

.idea/
*.iml

# ========================

# ECLIPSE

# ========================

.project
.classpath
.settings/
bin/

# ========================

# NETBEANS

# ========================

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ========================

# VS CODE

# ========================

.vscode/

# ========================

# OS FILES

# ========================

.DS_Store
Thumbs.db
